.App {
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
}

.left-content {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.right-content {
  flex: 1;
  max-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-content input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 60%;
}

.right-content button {
  padding: 5px 20px;
}

.right-content a {
  margin-top: 10px;
  color: #7a7a7a;
  text-decoration: none;
}

.signup {
  margin-top: 50px;
}

.signup input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

.signup button {
  padding: 10px 20px;
}

.signup a {
  display: block;
  margin-top: 10px;
  color: #61dafb;
  text-decoration: none;
}

.navbar {
  background-color: #282c34;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.home {
  margin-top: 50px;
}

.wordcloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
