/* FriendPage.css */

.friend-page {
    width: 100%;
    /* max-width: 950px; */
    margin: 0 auto;
    /* padding-top: 5px; */
    /* padding: 20px; */
  }
  
  .friend-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .friend-tree {
    background-color: #ffffff;
    /* height: 500px; */
    padding: 0px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
  
  .follow-button {
    background-color: transparent;
    color: #333;
    border: 1.5px solid #333;
    padding: 8px 18px;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    align-self: flex-end;
}

.follow-button:hover {
    background-color: #333;
    color: #fff;
}
  
  .friend-answers {
    margin-top: 20px;
  }

  .friend-answers h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .answers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .friend-answer-box {
    flex: 1 1 calc(33% - 10px); /* 3개씩 표시 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .friend-answer-box p {
    margin: 5px 0;
  }
  
  .like-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .like-button:hover {
    background-color: #0056b3;
  }
  