.answer-details-container {
  width: 100%;
  max-width: 910px;
  margin: 0 auto;
  padding-top: 5px;
  }
  
  /* .header-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  } */
  
  /* .sub-title {
    font-size: 16px;
    color: #666;
  }
   */
  /* .question-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  } */
  
  .edit-section {
    display: flex;
    justify-content: space-between;
  }
  
  /* .color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .view-section {
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .view-answer-editor {
    position: relative;
    width: 100%;
    max-width: 560px; /* 너비를 줄여서 color picker와 겹치지 않도록 조정 */
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .view-answer-textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    resize: none;
  }
  
  /* .visibility-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
  } */
  
  .view-content {
    display: grid;
    height: 280px;
    grid-template-columns: 1fr 0.1fr;
    /* margin-top: 20px; */
    padding: 20px;
  }

  .viewcolor-box {
    width: 90px;
    height: 315px;
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    /* justify-content: center;
    align-items: center; */
    writing-mode: vertical-rl;
    text-align: right;
    color: white;
    font-size: 18px;
    border-radius: 10px;
  }

  .viewanswer-text {
    text-align: left;
    width: 95%;
    font-size: 16px;
    margin-bottom: 20px;
  }

  
  /* .save-button {
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-end;
  } */
  
  /* .save-button:hover {
    background-color: #333;
    color: #fff;
  } */
  
  .edit-button {
    background-color: transparent;
    color: #333;
    border: 1.5px solid #333;
    padding: 8px 18px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
  }
  
  .edit-button:hover {
    background-color: #333;
    color: #fff;
  }

  .goback-button {
    background-color: transparent;
    color: #333;
    border: 1.5px solid #333;
    padding: 8px 18px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
  }
  
  .goback-button:hover {
    background-color: #333;
    color: #fff;
  }
  