.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* background-color: #072021; */
    /* height: calc(100vh - 50px); */
  }
  
  .profile-container {
    background-color: #86afaf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .profile-form,
  .profile-view {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬을 위해 추가 */
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%; /* 그룹의 너비를 100%로 설정 */
    max-width: 300px; /* 최대 너비를 설정하여 여백을 제공 */
  }
  
  .form-group label {
    color: white;
    font-weight: bold;
    display: block; /* 레이블을 블록 요소로 유지 */
    margin-bottom: 5px;
    text-align: left;
  }
  
  .form-group input,
  .form-group span {
    text-align: center;
    font-size: 16px;
    color: #537b7b;
    display: block;
    width: 100%; /* 입력 필드와 스팬의 너비를 100%로 설정 */
    height: 35px;
    padding-top: 6px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  
  .form-group span {
    background-color: #ffffff;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%; /* 버튼 그룹의 너비를 100%로 설정 */
    max-width: 300px; /* 최대 너비를 설정하여 여백을 제공 */
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn {
    background-color: transparent;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    margin-top: 25px;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: #537b7b;
  }
